body {
  margin: 0;
  padding: 0;
  .header-container {
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 50px;
      z-index: 10;
      position: relative;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 222, 203, 0.8071603641456583) 0%,
        rgba(0, 212, 255, 1) 100%
      );
      .nav-list {
        display: flex;
        list-style-type: none;
        margin: 0;
        .nav-link {
          margin-right: 20px;
          color: white;
          text-decoration: none;
          letter-spacing: 1px;
        }
      }
      .hamburger {
        width: 40px;
        height: 22px;
        border: none;
        border-top: 1px solid #ffffff;
        background: transparent;
        cursor: pointer;
        position: relative;
        //zrobic ponizsze mniej powtarzalne
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-top: 1px solid #ffffff;
          transform: translateY(10px);
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-top: 1px solid #ffffff;
          transform: translateY(20px);
        }
      }
    }

    .navbar-side {
      width: 200px;
      .list {
        margin: 0;
        padding: 0;
        height: 100vh;
        z-index: 1;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
        position: absolute;
        top: 0;
        li {
          list-style-type: none;
          margin: 50px;
        }
      }
      .visible {
        display: flex;
      }
    }
  }
  .shopping-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

      .form {
        padding: 10px;
        position: fixed;
        bottom: 0;
        background-color: #fefefe;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        input {
          display: block;
        }
        // -webkit-animation-name: slideIn;
        // -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
        .add-product {
          width: auto;
          height: 30px;
          background-color: teal;
          color: white;
        }
      }
      // -webkit-animation-name: fadeIn; /* Fade in the background */
      // -webkit-animation-duration: 0.4s;
      animation-name: fadeIn;
      animation-duration: 0.4s;
    }
    .visible {
      display: block;
    }

    .list-container {
      width: 80%;
      .product-list {
        list-style-type: none;
        padding: 0;
        li {
          padding: 10px;
          border: 1px solid #0da6af;
          margin: 10px;
          min-height: 50px;
          display: flex;
          position: relative;

          align-items: center;
          .list-item-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .product-name {
              font-weight: bold;
            }
            .product-info {
              color: #696d6d;
            }

            .delete-button {
              background: url("/shopping-list-pwa/img/icons/delete.svg");
              width: 30px;
              height: 30px;
              outline: none;
              border: none;
              position: absolute;
              right: 20px;
            }
          }
        }
      }
      .open-modal-button {
        display: block;
        margin: 0 auto;
        background: url("/shopping-list-pwa/img/icons/plus.svg") no-repeat;
        width: 55px;
        height: 55px;
        border: none;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
// @-webkit-keyframes fadeIn {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    // opacity: 0;
  }
  to {
    bottom: 0;
    // opacity: 1;
  }
}
